h1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: azure;
}
.intro{
    background-color: coral;
    border: black;
}
.row{
    text-align: left;
    color: aliceblue;

    
}
h2{
    border-color: white;
    border-style: solid;
    padding: 0%;

}
.home{
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    height: 80vh;
    width: 100%;
}
h3{
    text-align: center;
    color: cornflowerblue;
    font-style: oblique;
    text-decoration: underline;
}
#about{
    text-align: center;
}
.details{
    font-family: 'Kalam', cursive;

}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}