h1{
    text-align: left;
    font-style: italic;
    color: azure;
}
.intro{
    background-color: coral;
    border: black;
}
.row{
    text-align: left;
    color: aliceblue;

    
}
h2{
    border-color: white;
    border-style: solid;
    padding: 0%;
}
.home{
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    height: 80vh;
    width: 100%;
}
h3{
    text-align: center;
    color: cornflowerblue;
    font-style: oblique;
    text-decoration: underline;
}